body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-custom-image {
  background-image: url("./photos/1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300%;
}

.bg-custom-image2 {
  background-image: url('./photos/9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-text {
  padding: 5rem;
  height: 500px;
  width: 500px;
}